<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatClassroom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChatClassroom.Properties.Settings>
            <setting name="connectionstring" serializeAs="String">
                <value>Server=188.93.232.9;Database=devtk1_chat;Uid=devtk1_chat;Pwd=1)@CHG@hbVTc;</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>$13$K9s8sl3-J81s</value>
            </setting>
        </ChatClassroom.Properties.Settings>
    </applicationSettings>
</configuration>